<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:exported ="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/mom_dad_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".taskactivities.PopupActivity"
            android:label="@string/title_activity_popup"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".taskactivities.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".taskactivities.EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".taskactivities.ViewTaskActivity"
            android:label="@string/title_activity_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coinflipactivities.ChangeChildCoinFlipActivity"
            android:label="@string/title_activity_change_child_coin_flip"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".coinflipactivities.CoinFlipHistoryActivity"
            android:label="@string/title_activity_coin_flip_history"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".timeout.Timeout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".coinflipactivities.ChooseChildCoinFlipActivity"
            android:label="@string/title_activity_choose_child_coin_flip"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".coinflipactivities.CoinFlipActivity"
            android:label="@string/title_activity_coin_flip"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".childactivities.EditChildActivity"
            android:label="Edit Child"
            android:parentActivityName=".childactivities.ViewChildActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".childactivities.ViewChildActivity"
            android:label="Children List"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
    </application>

</manifest>